---
console.log('Hola Mundo-Header');
---
<footer class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="col-md-12">
                <p>Munay 2024 - Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</footer>


<style>
    footer {
        background-color: var(--secondary-color);
        padding: 20px 0;
        text-align: center;
    }
    footer p {
        margin: 0;
    }
</style>