---

import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import Logo from '../assets/images/munaylogo.png';
import Navigator from './Navigator.astro';

let menuItems=[{
    name: 'Nosotros',
    link: '#nosotros'
},{
    name: 'Servicios',
    link: '#servicios'
},{
    name: 'Portafolio',
    link: '#portafolio'
},{
    name: 'Contacto',
    link: '#contacto'

}]

---
<header class="header">
    <div class="header-container">
        <div class="header-logo">
            <a href="">
                <Image src={Logo} class="header-image" alt="Munay Web" width="150" />
            </a>
        </div>
        <div class="header-menu">
            <Navigator items={menuItems} />
            <div class="header-menu-mobile">
                <Icon name="bars" class="bars-icon" />
                <Icon name="cancel" class="cancel-icon"/>
            </div>              
        </div>
        <div class="header-social">
            <Icon name="instagram" class="social-icon i-icon" />
            <Icon name="facebook" class="social-icon f-icon"/>
            <Icon name="x" class="social-icon x-icon"/>
        </div>  
    </div>

</header>
<script>
    // Escucha el evento de scroll en la ventana
    window.addEventListener('scroll', applyStylesOnScroll);

    // Aplica los estilos iniciales al cargar la página
    applyStylesOnScroll();

// Función para aplicar estilos cuando se cumplan las condiciones de scroll
function applyStylesOnScroll(): void {
        const header = document.querySelector('.header') as HTMLElement;
        if (!header) return;

        // Obtén la posición del scroll y la altura del elemento
        const scrollTop = window.scrollY || document.documentElement.scrollTop;
        const headerHeight = header.offsetHeight;

        // Calcula el punto de inicio y fin basado en la altura del elemento
        const start: number = 0; // top top
        const end: number = headerHeight-30; // bottom top

        // Aplica estilos si la posición del scroll está entre el inicio y el fin
        if (scrollTop >= start && scrollTop <= end) {
            header.style.borderBottom = ""; // Estilo original
            header.style.backgroundColor = ""; // Estilo original
            header.style.boxShadow = ""; // Estilo original
        } else {
            // Revierte a los estilos originales si es necesario
            header.style.borderBottom = "3px solid #fff";
            header.style.backgroundColor = "#4141be";
            header.style.boxShadow = "0 0 10px rgba(0, 0, 0, 0.1)";
        }
    }

</script>

<style>
.visible {
    display: block;
}

.hidden {
    display: none;
}


header{
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 500;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    max-width: 1140px;
    margin: 0 30px;
}
.header-logo{
}
.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-social{
    min-width: 130px;
}

.bars-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: none;
}
.cancel-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: none;
}
.social-icon{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.i-icon:hover{
    color: #E1306C;
}
.f-icon:hover{
    color: #3B5998;
}
.x-icon:hover{
    color: #E1306C;
}



.header-image{
        width: 130px;
        height: auto;
    }
@media (max-width: 850px) {
    .header-image{
        width: 130px;
        height: auto;
    }
    .header-logo{
        order:2;
    }
    .bars-icon {
        display: block;
    }
    .header-social{

        order: 3;
    }
    .header-menu{
        order: 1;
        padding-right: 60px;
        min-width: 40px;
        justify-content: flex-end;
    }
    .header-container {
        margin: 0 15px;
    }


}
</style>