---

import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import Logo from '../assets/images/munaylogo.png';
import Navigator from './Navigator.astro';

let menuItems=[{
    name: 'Nosotros',
    link: '#nosotros'
},{
    name: 'Servicios',
    link: '#servicios'
},{
    name: 'Portafolio',
    link: '#portafolio'
},{
    name: 'Contacto',
    link: '#contacto'

}]

---
<header class="header">
    <div class="header-container">
        <div class="header-logo">
            <a href="">
                <Image src={Logo} class="header-image" alt="Munay Web" width="150" />
            </a>
        </div>
        <div class="header-menu">
            <Navigator items={menuItems} />
            <div class="header-menu-mobile">
                <Icon name="bars" class="bars-icon" />
                <Icon name="cancel" class="cancel-icon"/>
            </div>              
        </div>
        <div class="header-social">
            <Icon name="instagram" class="social-icon i-icon" />
            <Icon name="facebook" class="social-icon f-icon"/>
            <Icon name="x" class="social-icon x-icon"/>
        </div>  
    </div>

</header>
<script>
// Función para aplicar estilos cuando se cumplan las condiciones de scroll
function applyStylesOnScroll(): void {
        const header = document.querySelector('.header') as HTMLElement;
        if (!header) return;

        // Obtén la posición del scroll y la altura del elemento
        const scrollTop = window.scrollY || document.documentElement.scrollTop;
        const headerHeight = header.offsetHeight;

        // Calcula el punto de inicio y fin basado en la altura del elemento
        const start: number = 0; // top top
        const end: number = headerHeight; // bottom top

        // Aplica estilos si la posición del scroll está entre el inicio y el fin
        if (scrollTop >= start && scrollTop <= end) {
            header.style.borderBottom = ""; // Estilo original
            header.style.backgroundColor = ""; // Estilo original
            header.style.boxShadow = ""; // Estilo original
        } else {
            // Revierte a los estilos originales si es necesario
            header.style.borderBottom = "3px solid #fff";
            header.style.backgroundColor = "#4141be";
            header.style.boxShadow = "0 0 10px rgba(0, 0, 0, 0.1)";
        }
    }

    // Escucha el evento de scroll en la ventana
    window.addEventListener('scroll', applyStylesOnScroll);

    // Aplica los estilos iniciales al cargar la página
    applyStylesOnScroll();

// Asumiendo que estos estilos ya están definidos en algún lugar de tu CSS
const menu: HTMLElement | null = document.querySelector('.header-links');
const barsIcon: HTMLElement | null = document.querySelector('.bars-icon');
const cancelIcon: HTMLElement | null = document.querySelector('.cancel-icon');
const headerMenuMobile: HTMLElement | null = document.querySelector('.header-menu-mobile');

let isMenuOpen: boolean = false;

function toggleMenu(): void {
    if (!menu || !barsIcon || !cancelIcon) {
        console.error('One or more elements were not found!');
        return;
    }

    if (isMenuOpen) {
        // Aplicar estilos para "cerrar" el menú
        menu.classList.add('menu-hidden');
        menu.classList.remove('menu-visible');

        barsIcon.classList.remove('hidden');
        cancelIcon.classList.add('hidden');

        // Espera 0.5 segundos para cambiar la visibilidad de los iconos, si es necesario
        setTimeout(() => {
            barsIcon.classList.add('visible');
            cancelIcon.classList.remove('visible');
        }, 500);
    } else {
        // Aplicar estilos para "abrir" el menú
        menu.classList.remove('menu-hidden');
        menu.classList.add('menu-visible');

        barsIcon.classList.add('hidden');
        cancelIcon.classList.remove('hidden');

        setTimeout(() => {
            barsIcon.classList.remove('visible');
            cancelIcon.classList.add('visible');
        }, 500);
    }

    isMenuOpen = !isMenuOpen;
}

if (headerMenuMobile !== null) {
    headerMenuMobile.addEventListener('click', toggleMenu);
}

    //cambiar el toogleMenu cuando el view es mayor a 850px mostrar el menu y ocualtar el barsicon y el cancel icon
    window.addEventListener('resize', () => {
    // Asegúrate de que los elementos existen en el DOM antes de intentar acceder a ellos.
    const menu: HTMLElement | null = document.querySelector('.menu');
    const barsIcon: HTMLElement | null = document.querySelector('.bars-icon');
    const cancelIcon: HTMLElement | null = document.querySelector('.cancel-icon');

    // Verifica que los elementos necesarios existan.
    if (!menu || !barsIcon || !cancelIcon) {
        console.error("One or more elements are missing!");
        return;
    }

    if (window.innerWidth > 850) {
        // Aplica estilos directamente para mostrar el menú
        menu.style.height = 'auto';
        menu.style.opacity = '1';
        menu.style.display = 'flex';

        // Oculta los iconos
        barsIcon.style.display = 'none';
        cancelIcon.style.display = 'none';
    } else {
        // Aplica estilos directamente para ocultar el menú
        menu.style.height = '0';
        menu.style.opacity = '0';
        menu.style.display = 'none';

        // Muestra el icono de barras y oculta el icono de cancelar
        barsIcon.style.display = 'block';
        cancelIcon.style.display = 'none';
    }
});
</script>

<style>
header{
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 500;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    max-width: 1140px;
    margin: 0 30px;
}
.header-logo{
}
.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-social{
    min-width: 130px;
}

.bars-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: none;
}
.cancel-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: none;
}
.social-icon{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.i-icon:hover{
    color: #E1306C;
}
.f-icon:hover{
    color: #3B5998;
}
.x-icon:hover{
    color: #E1306C;
}

.header-image{
        width: 130px;
        height: auto;
    }
@media (max-width: 850px) {
    .header-image{
        width: 130px;
        height: auto;
    }
    .header-logo{
        order:2;
    }
    .bars-icon {
        display: block;
    }
    .header-social{

        order: 3;
    }
    .header-menu{
        order: 1;
        padding-right: 60px;
        min-width: 40px;
        justify-content: flex-end;
    }
    .header-container {
        margin: 0 15px;
    }


}
</style>