---
import { Image } from 'astro:assets';
import BuildImg from '../assets/images/buildweb.png';
import ContactForm from '../components/ContactForm.astro';
import WsspButton from '../components/WsspButton.astro';

interface Props {
	title: string;
	subtitle: string;

}

const { title, subtitle } = Astro.props;
---
<section id="hero-section">
    <div class="hero-container">
        <WsspButton />
        <div class="hero-content">
            <div class="hero-main">
                <h1>{title}</h1>
                <p>{subtitle}</p>
                <Image class="hero-img" src={BuildImg} alt="Munay Web" width="420" height="420"/>
            </div>
            <ContactForm /> 
        </div>

    </div>
</section>
<script>
    import { gsap } from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
    gsap.from('.hero-img', {
        scrollTrigger: {
            trigger: '.hero-main',
            start: 'top 80%',
            end: 'bottom 20%',
            toggleActions: 'play none none none'
        },
        opacity: 0,
        x: 100,
        duration: 1.5
    });
</script>
<style>
    #hero-section{
        margin-top: 105px;
        width: 100%;
    }
    h1
    {
        color: var(--primary-color);
        font-size: 3rem;
        margin-top: 30px;
        margin-bottom: 0;
    }
    p{
        color: var(--primary-color);
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
        margin-bottom: 30px;
    }
    .hero-container
    {
        width: 100%;
    }
    .hero-main{
        display: flex;
        flex-direction: column;
    }
    .hero-content
    {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 15px;
    }
    .hero-img
    {
        max-width: 100%;
        height: auto;
        align-self: center;

    }
    @media (max-width: 1150px){
        h1
        {
            font-size: 2.5rem;
        }
        p
        {
            font-size: 1.2rem;
        }
    }
    @media (max-width: 850px)
    {
        .hero-container{
            margin-bottom: 30px;
        }
    }
</style>