---
// src/components/liston.astro
---
<div class="liston">
  <p>¡Potencia tu Ecommerce con <strong>Magento 2</strong> en Perú y Latinoamérica! 
     Aprovecha la flexibilidad y escalabilidad de Magento 2 para ofrecer una experiencia de compra superior. 
     Integra métodos de pago locales y digitales, y optimiza tu tienda con estrategias avanzadas de SEO y marketing digital.
  </p>
</div>

<style>
  .liston {
    background-color: #541a6b;
    text-align: center;
    margin: 1.9375rem;
    padding: 1.8125rem 0;
    display: flex;
    flex-direction: column; 
  }
  .liston p {
    font-family: system-ui, sans-serif;
    margin: 0; 
    padding: 0 1rem; 
  }

  @media (min-width: 576px) {
    .liston {
      padding: 2rem; 
    }
    .liston p {
      padding: 0 2rem; 
    }
  }

  @media (min-width: 768px) {
    .liston {
      flex-direction: row; 
      justify-content: center;
    }
  }
</style>
 