---
interface Props {
    items: {
        name: string;
        link: string;   
    }[];
}

const { items } = Astro.props;
---
<nav class="header-nav">
    <ul class="header-links">
        {items.map(
            item => <li class="header-link_item">
                        <a href={item.link}>
                            {item.name}
                        </a>
                    </li>
        )}
    
    </ul>
</nav>


<style>
.header-nav {
    display: block;
    height: 100%;
}
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;

}
.header-links .header-link_item {
    margin: 15px 15px;
}
.header-link_item a {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
}
.header-link_item a:hover {
    color: var(--ternary-color);
}


@media (max-width: 850px) {
    .header-links{
        position: absolute;
        left: 0;
        display:none; 
        width: 100%;
        margin-top: 45px;
        flex-direction: column;
        border-top: 3px solid rgb(255, 255, 255);
        border-bottom: 3px solid rgb(255, 255, 255);
    }

    .header-links ul li{
        width: 100%;
        margin: 15px 15px;
    }
}
</style>