---
import { Image } from "astro:assets";
import UsImg from "../assets/images/us.jpg";
---

<section id="us-section">
    <div class="us-container">
        <div class="us-container">
            <div class="us-content">
                <Image
                    src={UsImg}
                    alt="Munay Web developers"
                    class="us-img"
                    width="520"
                />
                <p class="us-text">
                    En <strong>Munay Web </strong>, somos un equipo de
                    profesionales dedicados al <strong>desarrollo web</strong>,
                    comprometidos a brindarte servicios de calidad
                    personalizados según tus necesidades.
                </p>
            </div>
        </div>
    </div>
</section>
<script>
    
    function animateForDesktop() {
        const usText = document.querySelector(".us-text") as HTMLElement;
        const usImg = document.querySelector(".us-img") as HTMLElement;

        if (!usText || !usImg) return;

        const observerOptions = {
            rootMargin: "0px",
            threshold: 0.2,
        };

        const observerText = new IntersectionObserver((entries, observer) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    usText.style.transition = "transform 1.5s, opacity 1.5s";
                    usText.style.transform = "translateX(120px)";
                    usText.style.opacity = "1";
                    observer.unobserve(entry.target);
                }
            });
        }, observerOptions);

        const observerImg = new IntersectionObserver((entries, observer) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    usImg.style.transition = "transform 1.5s, opacity 1.5s";
                    usImg.style.transform = "translateX(-120px)";
                    usImg.style.opacity = "1";
                    observer.unobserve(entry.target);
                }
            });
        }, observerOptions);

        observerText.observe(usText);
        observerImg.observe(usImg);
    }

    function animateForMobile() {
        const usText = document.querySelector(".us-text") as HTMLElement;
        const usImg = document.querySelector(".us-img") as HTMLElement;

        if (!usText || !usImg) return;

        const observerOptions = {
            rootMargin: "0px",
            threshold: 0.2,
        };

        const observerText = new IntersectionObserver((entries, observer) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    usText.classList.add("visible");
                    observer.unobserve(entry.target);
                }
            });
        }, observerOptions);

        const observerImg = new IntersectionObserver((entries, observer) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    usImg.classList.add("visible");
                    observer.unobserve(entry.target);
                }
            });
        }, observerOptions);

        observerText.observe(usText);
        observerImg.observe(usImg);
    }
    const mediaQuery = window.matchMedia("(max-width: 767px)");
    if (mediaQuery.matches) {
        animateForMobile();
    } else {
        animateForDesktop();
    }
</script>

<style>
    .us-text,
    .us-img {
        z-index: 10;
    }

    #us-section {
        background-color: var(--primary-color);
        width: 100%;
        max-width: 100%;
    }
    .us-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    .us-text {
        color: var(--ternary-color);
        font-size: 1.5rem;
        text-align: justify;
        width: 35%;
        margin-right: 120px;
    }

    @media (max-width: 975px) {
        .us-text {
            width: 100%;
            margin-right: 0px;
        }
    }

    @media (max-width: 767px) {
        .us-container {
            position: relative;
            
            height: auto:/* Asegura que ocupe toda la altura del viewport */
            overflow: hidden;
        }

        .us-text,
        .us-img {
            position: relative;
            z-index: 10 ;
            
        }

        .us-text {
            bottom: 0;
            transform: translateY(100%);
        }

        .us-img {
            top: 0;
            transform: translateY(-100%);
        }

        @keyframes bounceAnimationTextMobile {
            0% {
                transform: translateY(100%);
                
            }
            50% {
                transform: translateY(-20%) scale(1.2);
                opacity: 1;
            }
            70% {
                transform: translateY(10%) scale(1);
            }
            100% {
                transform: translateY(0) scale(1);
            }
        }

        @keyframes bounceAnimationImgMobile {
            0% {
                transform: translateY(-100%);
                
            }
            50% {
                transform: translateY(20%) scale(1.2);
                opacity: 1;
            }
            70% {
                transform: translateY(-10%) scale(1);
            }
            100% {
                transform: translateY(0) scale(1);
            }
        }

        .us-text.visible {
            animation: bounceAnimationTextMobile 1.5s ease forwards;
        }

        .us-img.visible {
            animation: bounceAnimationImgMobile 1.5s ease forwards;
        }
    }
</style>
