---
import { Image } from "astro:assets"
import UsImg from '../assets/images/us.jpg';

---

<section id="us-section">
    <div class="us-container">
        <div class="us-container">
            <div class="us-content">
              <Image src={UsImg} alt="Munay Web developers" class="us-img" width=520 />
              <p class="us-text">
                En <strong>Munay Web Developers</strong>, somos un equipo de profesionales 
                dedicados al <strong>desarrollo web</strong>, comprometidos a brindarte servicios 
                de calidad personalizados según tus necesidades. Nuestro objetivo es claro: potenciar
                 tu negocio y llevarlo al siguiente nivel creando el sitio web perfecto para tu empresa.
    
              </p>
            </div>
          </div>
    </div>
</section>
<script>
    import { gsap } from 'https://cdn.skypack.dev/gsap';
    import { ScrollTrigger } from 'https://cdn.skypack.dev/gsap/ScrollTrigger';
    gsap.registerPlugin(ScrollTrigger);
    gsap.from('.us-text', {
        scrollTrigger: {
            trigger: '.us-text',
            start: 'top 80%',
            end: 'bottom 60%',
            toggleActions: 'play none none none',
        },
        x: 120,
        opacity: 0,
        duration: 1.5,
    });
    gsap.from('.us-img', {
        scrollTrigger: {
            trigger: '.us-img',
            start: 'top 80%',
            end: 'bottom 60%',
            toggleActions: 'play none none none',
        },
        x: -120,
        opacity: 0,
        duration: 1.5,
    });
</script>

<style>
    #us-section {
        background-color: var(--primary-color);
        width: 100%;
        max-width: 100%;
    }
    .us-content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    .us-text{
        color: var(--ternary-color);
        font-size: 1.5rem;
        text-align: justify;
        width:35% ;
        margin-right: 120px;
    }
    @media screen and (max-width: 975px) {
        .us-text{
            width: 100%;
            margin-right: 0px;
        }
        
    }
    @media screen and (max-width: 600px) {
        .us-img{
            width: 100%;
            height: 100%;
        }
        
    }
</style>